body{background-color: white; margin: 0; font-family:Arial;}

#container{margin: auto; 
    width: 80%;
	background-color: #E3E1D9;
	border: 10px solid #E3E1D9;
	}
	
header{
	
  background-image: url("../images/header image.jpg");
  background-size: cover;
  background-position: center;
	height: 110px;
	}

#sitename{ float: left; width: 300px; padding-top: 20px;}
#logo {float:left; width: 150px;}
	
nav{background-color: #b4b4b8;
	clear: left;
      }
	
main {background-color: #f2efe5;
    padding: 10px;
	min-height: 300px;
 }
	
main a {background-color: #E3E1D9; color: white; text-decoration:none; padding:5px;}
main a:hover {background-color: #878787; color: white;}

.pageTitleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#search-card {
  background-color: white;
  text-align: center;
 
  padding-top: 10px;
  padding-bottom: 20px;
  
  input[type=search] {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
  }

  button[type=submit] {
    background: none;
    border: none;
    position: relative;
    left: -35px;
  }
}

.w-button {
  width: 170px !important;
  display: block;
  text-align: center;
  margin: 0;
}

.action-icon {
  background-color: transparent !important;
  color: black;
}

.action-icon:hover {
  background-color: transparent !important;
  color: #b4b4b8;
}

.action-icon-success {
  background-color: transparent !important;
  color: rgb(0, 158, 0) !important;
}

.action-icon-success:hover {
  background-color: transparent !important;
  color: rgb(8, 112, 8) !important;
}

.action-icon-danger {
  background-color: transparent !important;
  color: rgb(221, 19, 19) !important;
}

.action-icon-danger:hover {
  background-color: transparent !important;
  color: rgb(230, 13, 13) !important;
}

.text-success {
  color: rgb(0, 158, 0) !important;
}

.text-hover-success:hover {
  color: rgb(8, 112, 8) !important;
}

.text-danger {
  color: rgb(221, 19, 19) !important;
}

.text-hover-danger:hover {
  color: rgb(230, 13, 13) !important;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.base-button {
  background-color:#C5AFA4 !important;
  border: 0;
  color: black;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  cursor: pointer;
}

.base-button:hover {
  transition: 1s !important;
  background-color:#cfbfb6 !important;
  color: black;
}

.btn-danger {
  background-color:rgb(221, 19, 19) !important;
  color: white !important;
}

.btn-danger:hover {
  background-color:rgb(230, 13, 13) !important;
  color: white !important;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.gap-1 {
  gap: 8px;
}

.gap-2 {
  gap: 16px;
}

.gap-3 {
  gap: 24px;
}

.gap-4 {
  gap: 30px;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal-close-button {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close-button:hover,
.modal-close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.card-group {
  display: flex;                              
  flex-wrap: wrap;                        
  flex-direction: row; 
  gap: 10px;
  width: 100%;
}

.card {
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition: 0.3s;
 width: calc(33% - 45px);
 border-radius: 5px;
 padding: 20px;
 background-color: #FFFFFF;
}

.card:hover {
box-shadow: 0 8px 16px 0 #adbbe0;

}

.card-top {
  margin-bottom: 15px ;
}

.card .card-top img  {
  width: 100%;
  max-height: 150px;
}

.card h2 {
  font-size: 10px;
}

.card-info > * {
  margin: 14px 0;

}

.card-info h3 {
  font-size: 10px;
}

.card-info p {
  font-size: 10px;
}

.card-action {
  text-align: center;
}

.card-action a {
  background-color: transparent !important;
}

.category {
  border: 1px solid black;
  padding: 4px;
  margin: 10px 64px;
  text-align: center;
}

.property-details {
  display: flex;
  justify-content: space-between;
  width: 100%;

  img {
    width: 60%;
  }

  .property-info {
    width: 40%;
    padding: 0 10px;
    max-width: 100vw;
  }
}

.avatar-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;

  .avatar {
    border: 1px solid black;
    padding: 20px 20px 0 20px;
    text-align: center;

    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }

  .avatar.w-half {
    width: calc(50% - 55px);
  }
}

.box {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  width: 100%;
}

.box-lg {
  max-width: 1024px;
}

.box-md {
  max-width: 768px;
}

.box-sm {
  max-width: 500px;
}

#contact-page {
  display: flex;
  gap: 50px;

  #contact-box {
    width: 50%;
  }

  #reach-box {
    width: 50%;
  }
}

.my-1 {
  margin: 8px 0;
}

.my-2 {
  margin: 16px 0;
}

.my-3 {
  margin: 24px 0;
}

.my-4 {
  margin: 30px 0;
}

.base-form {
  width: 100%;
  display: flex;
  flex-direction: column !important;
  gap: 10px;

  input, textarea, select {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
  }

  label {
    width: 100%;
  }

  input, select {
    height: 35px;
  }
}

.compact-form {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  justify-content: space-between;
  
  > .group-form {
    width: 49% !important;
  }
}

.submission-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1024px) {
  .flex-column-lg {
    flex-direction: column !important;
  }
}



@media (max-width: 768px){
  .flex-column-md {
    flex-direction: column !important;
  }

  .compact-form {
    flex-direction: column !important;
  
    > .group-form {
      width: 100% !important;
    }
  }

  #contact-page {
    flex-direction: column;

    #contact-box {
      width: 95%;
    }
  
    #reach-box {
      width: 95%;
    }
  }
  

  .property-details {
    flex-direction: column;
    img {
      width: 100%;
    }
  
    .property-info {
      width: 100%;
    }
  }

  .card-group {
      width: 100%;
      justify-content: center;
  }
  .card {
      width: 45%;
      
  }

}

@media (max-width: 600px){
  
  .card {
      width: 100%;
      
  }

}

footer{background-color: #ffffff;
    height: 30px;
    padding: 10px;}
    

/*table styles*/

table td {padding: 10px;}
table {width: 100%}

table tr:nth-child(1) {
	background-color: #E3E1D9;
    height: 40px;
	}
table tr {
	background-color:#FFFFFF;
	}
#addtestimonial table {border: 0px;}
#addtestimonial table tr td {padding: 0px; border: 0px;}
#addtestimonial table tr {background-color: #f2efe5; border: 0px;}


.show {display:block;}

/*form styles*/
#commentform { 
	       font-family: Arial;
                 width: auto;
	     }
label { float:left;
	width: 50px; 
	clear: left;
	text-align: left;
	padding-right: 15px;
	margin-top: 10px;
	}
input, textarea {margin-top: 10px; margin-left: 20px; } 
#socialmedia a {text-decoration: none;}
#socialmedia {float: right; width: auto;}
  

/*navbar styles w3schools*/
.topnav {
  overflow: hidden;
  background-color: #C5AFA4;
}

.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #E3E1D9;
  color: black;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color:black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #f2efe5;
  color: black;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*media queries 768px*/

@media only screen and (max-width: 768px) {
	body{font-size:90%;}
	#commentform{width: auto; font-size: 80%;}
	#mysubmit{margin-left: 0;}
    th:nth-of-type(4){display:none;}
	td:nth-of-type(4){display:none;}

	#content{ padding: 10px;}
    #container{margin: 0; width: auto;}

   .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
        
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*media queries 500px*/

@media screen and (max-width: 500px) {
  	#displayproducts td:nth-child(2){display:none;}
    #displayproducts td {width: 30%;}
    
}
